<div class="container">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group" formGroupName="userData">
          <div>
            <label for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="Enter email">
              <div>
                <span class="alert-info" *ngIf="!loginForm.get('userData.email').valid && loginForm.get('userData.email').touched">Please enter a valid email address.</span>
              </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Password">
              <span class="alert-info" *ngIf="!loginForm.get('userData.password').valid && loginForm.get('userData.password').touched">Please enter a password.</span>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-primary" [disabled]="!loginForm.valid" >Login</button>
      </form>
    </div>
  </div>
</div>
<div class="alert-info" *ngIf="errorMessage">
  {{ errorMessage }}
  <button type="button" class="btn alert-danger" (click)="resetForm()">OK</button>
</div>
