span {
  background: transparent;
  color: red;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.alert-info {
color: #721c24;
background: #f8d7da;
}

.alert-danger {
  border-color: #721c24;
}
