<div class="container">
  <div class="card">
      <div class="card-body">
        <h6 class="card-title">Client: {{ clientDetails?.name }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Email: {{ client.email }}</h6>
        <app-account-list [accounts]="clientDetails?.accounts"></app-account-list>
        <button class="btn btn-outline-primary" (click)="addAccount()">New account</button>
      </div>
  </div>
</div>
