<div class="content">
  <div class="card mx-auto">
    <form [formGroup]="newAccountForm">
      <div class="row">
        <label class="col-4">Account number:</label>
        <label class="col-6">{{ newAccount.accNumber}}</label>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Balance</span>
        </div>
        <input
          type="text"
          aria-label="balance"
          class="form-control"
          class="inputText"
          formControlName="balance"/>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Overdraft</span>
        </div>
        <input
          type="text"
          aria-label="overdraft"
          class="form-control"
          class="inputText"
          formControlName="overdraft"/>
      </div>
      <div class="alert-info" *ngIf="newAccountForm.touched && !newAccountForm.valid">
        Please enter valid amounts.
      </div>
        <button type="submit" class="btn btn-sm btn-outline-primary" (click)="addAccount()">
          Save
        </button>
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="cancelAdd()">
          Cancel
        </button>
    </form>
  </div>
</div>
