.input-group-text {
  width: 100px;
}

.input-group {
  padding-bottom: 8px;
}

button {
  margin-right: 8px;
}

.card {
  padding: 16px;
  max-width: 500px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.alert-info {
  color: #721c24;
  background: #f8d7da;
  }
