<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Account number</th>
      <th scope="col">Balance</th>
      <th scope="col">Available</th>
    </tr>
  </thead>
  <tbody>
    <tr app-account [accountNumber]="anAcc" [index]="i" *ngFor="let anAcc of accounts; let i = index"></tr>
  </tbody>
</table>
