<div class="container">
  <div class="header">
      <p>Zani's Bank</p>
  </div>
  <div *ngIf="displayLogoutButton()" align="right">
    <button class="btn tn-link" class="align-content-end" (click)="logout()">Logout</button>
  </div>
  <router-outlet></router-outlet>
</div>
