<th scope="row">{{ index+1 }}</th>
<td>
  <button (click)="open(content)" class="btn btn-link">{{ account?.accNumber }}</button>
</td>
<td>{{ account?.balance }}</td>
<td>{{ account?.balance + account?.overdraft }}</td>

<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Transactions</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="transactionsForm">
      <div class="row">
        <label class="col-6">Account number:</label>
        <label class="col-6">{{ account?.accNumber }}</label>
      </div>
      <div class="row">
        <label class="col-6">Balance:</label>
        <label class="col-6">{{ account?.balance }}</label>
      </div>
      <div class="row">
        <label class="col-6">Available:</label>
        <label class="col-6">{{ account?.balance + account?.overdraft }}</label>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Amount</span>
        </div>
        <input type="text" aria-label="amount" class="form-control" class="inputText" maxlength="20" formControlName="amount"/>
      </div>
      <br>
      <div>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary" [ngClass]="{active: transactionsForm.value.transactionType === 'deposit'}">
          <input type="radio" value="deposit" formControlName="transactionType" (change)="typeChanged()"/>Deposit
        </label>
        <label class="btn btn-primary" [ngClass]="{active: transactionsForm.value.transactionType === 'withdraw'}">
          <input type="radio" value="withdraw" formControlName="transactionType" (change)="typeChanged()"/>Withdraw
        </label>
      </div>
      <br>
      </div>
      <div class="modal-footer">
        <button [disabled]="!okAllowed()" type="button" class="btn btn-outline-primary" (click)="modal.close('ok')">
          OK
        </button>
        <button type="button" class="btn btn-outline-primary" (click)="modal.close('cancel')">
          Cancel
        </button>
      </div>
    </form>
  </div>
</ng-template>
